----------------------------------
bitsandbytes
chromadb
datasets
datashaper
faiss-cpu
fitz
fqdn
greenlet
httptools
isoduration
jsonpointer
jupyter
llama-index-embeddings-huggingface
pandas-profiling
peft
pip
pipenv
pylint
pymilvus
pymongo
sentencepiece
snowflake-connector-python
summarytools
tabula-py
torchaudio
torchvision
tzdata
uri-template
uvloop
watchfiles
webcolors
websockets
wheel
xverse
